@import url(http://fonts.googleapis.com/css?family=Lato);


.container {
	width: 900px;
	height: 100%;
	margin: auto;
	font-family:'Lato', sans-serif;

}

/*button {
  position: relative;
  vertical-align: top;
  width: 90%;
  height: 50px;
  padding: 0;
  font-size: 22px;
  color: white;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  background: #f1c40f;
  border: 0;
  border-bottom: 2px solid #e2b607;
  cursor: pointer;
  -webkit-box-shadow: inset 0 -2px #e2b607;
  box-shadow: inset 0 -2px #e2b607;
}*/

#row1 {
	border-top: 0px;
}

.board-container {
	width: 600px;
	margin: auto;
}

.heading {
	width: 600px;
	margin: auto;

}

img {
	width: 198px;
	height: 203px;
	position: absolute;
}

h1 {
	text-align: center;
	margin-top: 40px;
	margin-bottom: 40px;

}

.board p {
	margin: 0px;
	margin-top: -12px;
	position: absolute;
	width: 200px;
	height: 200px;
	font-size: 180px;
	text-align: center;
}


.board {
	position: absolute;
	width: 600px;
	height: 600px;
	/*border: 2px solid black;*/
	margin: auto;
}

.row {
	width: 600px;
	height: 200px;
}

.square {
	display: inline-block;
	width: 200px;
	height: 204px;
	/*border: 2px solid black;*/
	margin: -3.5px;
	z-index: 1;
}

.col-1 {
	border-right: 2px solid black;
}

.col-2 {
	border-right: 2px solid black;
	border-left: 2px solid black;
}

.col-3 {
	border-left: 2px solid black;
}

#row-1 {
	border-bottom: 2px solid black;
}

#row-2 {
	border-top: 2px solid black;
	border-bottom: 2px solid black;
}


#row-3 {
	border-top: 2px solid black;
}


#player-2 {
	display: none;
}

#X {
	display: none;
}

#O {
	display: none;
}

#draw {
	display: none;
}

.player-turn {
	width: 140px;
	display: inline-block;
	position: absolute;
}

.new-game {
	width: 140px;
	display: block;
	margin-top: 50px;
}

.scoreboard {
	width: 137px;
	height: 200px;
	border: 2px solid black;
	float: right;
	display: inline-block;
	margin-top: -33px;
	margin-left: 10px;
	text-align: center;
}

.scoreboard h3 {
	text-align: center;
}

.reset {
	margin-bottom: 5px;
}

h4{
	margin: 0.33em;
}

h5 {
	margin: 0.67em;
	margin-left: 0px;
}

.winner{
	position: absolute;
}

.mix-it-up {
	width: 160px;
	margin-top: 350px;

}