.container {
	width: 900px;
	height: 100%;
	margin: auto;
}

.board-container {
	width: 600px;
	margin: auto;
}

.heading {
	width: 600px;
	margin: auto;
	/*display: inline-block;*/
}

img {
	width: 198px;
	height: 198px;
	position: absolute;
}

h1 {
	text-align: center;
	margin-top: 40px;
	margin-bottom: 40px;
}

.board p {
	margin: 0px;
	position: absolute;
	width: 200px;
	height: 200px;
	font-size: 180px;
	text-align: center;
}

.board {
	position: absolute;
	width: 600px;
	height: 600px;
	border: 2px solid black;
	margin: auto;
}

.row {
	width: 600px;
	height: 200px;
}

.square {
	display: inline-block;
	width: 200px;
	height: 200px;
	border: 2px solid black;
	margin: -4px;
}

#player-2 {
	display: none;
}

#X {
	display: none;
}

#O {
	display: none;
}

#draw {
	display: none;
}

.player-turn {
	width: 140px;
	display: inline-block;
	position: absolute;
}

.new-game {
	width: 140px;
	display: block
}

.scoreboard {
	width: 137px;
	border: 2px solid black;
	float: right;
	display: inline-block;
}

.scoreboard h3 {
	text-align: center;
}

h5 {
	margin: 0.67em;
	margin-left: 0px;
}

.winner{
	position: absolute;
}

.mix-it-up {
	width: 160px;
	margin-top: 500px;

}